---
layout: page
title: "プログラム"
description: ""
group: navigation
sort: 2
---
{% include JB/setup %}
{% include timetable/setup %}

<p>
  今回のLLまつりではLLイベント史上初の<span class="notice">マルチトラック</span>に挑戦します。決定次第こちらに掲載していきます！
</p>

<ul>
  <li>
    <a href="#discussion_track">ディスカッショントラック(A会場)</a>
    <ul style="margin: 0;">
      <li><a href="#beyond_js">Beyond JS ～ JavaScriptの改良に未来はあるか？</a></li>
    </ul>
  </li>
  <li>
    <a href="#presen_track">プレゼンテーショントラック(B会場)</a>
    <ul style="margin: 0;">
      <li><a href="#application_environment_with_javascript_engine">Javascriptエンジンによるアプリの動的実行環境を作っている話</a></li>
    </ul>
  </li>
  <li>
    <a href="#tutorial_track">チュートリアルトラック(C会場)</a>
    <ul style="margin: 0;">
      <li><a href="#shell">第6回チャンピオンシップシェル芸ランナー勉強会 in LLまつり</a></li>
    </ul>
  </li>
  <li>
    <a href="#lightning_talk">ライトニングトーク(A, B会場)</a>
    <ul style="margin: 0;">
      <li><a href="#lt_title">発表者/発表タイトル一覧</a></li>
    </ul>
  </li>
</ul>

<div id="timetable"></div>

<h2 id="discussion_track">ディスカッショントラック(A会場)</h2>

<h3 id="beyond_js">Beyond JS ～ JavaScriptの改良に未来はあるか？</h3>

<p>近年、大規模開発向けに、JavaScriptの言語を改良しようという動きが様々に起きていますので、まとめて比較・紹介します。</p>

<h4>出演者</h4>
<dl>
<dt>Closure Compiler</dt>
<dd>天野祐介（サイボウズ株式会社）<a href="https://twitter.com/ama_ch">@ama_ch</a></dd>
<dt>Dart2js</dt>
<dd>樋口直人（株式会社ムロドー）<a href="https://twitter.com/ntaoo">@ntaoo</a></dd>
<dt>ECMAScript6</dt>
<dd>鈴木勇介（慶応義塾大学）<a href="https://twitter.com/Constellation">@Constellation</a></dd>
<dt>Haxe</dt>
<dd>小泉守義（moriyoshi）<a href="https://twitter.com/moriyoshit">@moriyoshit</a></dd>
<dt>JSX</dt>
<dd>奥一穂（株式会社ディー・エヌ・エー）<a href="https://twitter.com/kazuho">@kazuho</a></dd>
<dt>TypeScript（司会・進行）</dt>
<dd>竹迫良範（サイボウズ・ラボ株式会社）<a href="https://twitter.com/takesako">@takesako</a></dd>
</dl>

<h4>時間</h4>
<p>調整中</p>

<h2 id="presen_track">プレゼンテーショントラック(B会場)</h2>

<p class="brief">
  今年のLLまつりでは新しい試みとしてライトニングトークとは違うプレゼンテーションを行うトラックを用意しました。このトラックでは様々な分野の話題を各20分プレゼンテーションをしていただきます。
</p>

<p class="notice">
  プレゼンテーショントラックは定員が埋まるまで引き続き発表者を募集しています。<a href="./applications/presentation.html">プレゼンテーション発表者募集ページ</a>からご応募ください。
</p>

<h3 id="application_environment_with_javascript_engine">Javascriptエンジンによるアプリの動的実行環境を作っている話</h3>

<div class="brief">
  <p>
    Android/iOS内でJavascriptエンジンを動作させ、アプリの実行を動的に制御する環境を開発している話です。
  </p>
  
  <ol>
    <li>なぜ作ったのか(コンセプト等)</li>
    <li>動的実行のメリット/デメリット</li>
    <li>課題と展開等</li>
  </ol>
</div>

<h4>発表者</h4>
<p>
  青海航介
</p>


<h2 id="tutorial_track">チュートリアルトラック(C会場)</h2>

<h3 id="shell">第6回チャンピオンシップシェル芸ランナー勉強会 in LLまつり</h3>

<p>
  「bashはLLだ」とLLイベントで5年間にわたって言い続けてきたUSP友の会がついに本番セッションに乗り込む。いつもの勉強会より難しいシェルのワンライナー問題を携え、観客に挑戦状を叩き付け、叩き返される90分。あなたは何問、解けるでしょうか？
</p>
<p class="notice">
  ※シェル（使うのはbashだが異種格闘技大歓迎）の動くPCをご持参ください。電源は各自確保お願いします。
</p>

<h4>講師</h4>

<p>
  上田隆一（USP友の会） <a href="https://twitter.com/ryuichiueda">@ryuichiueda</a> / <a href="https://twitter.com/usptomo">@usptomo</a>
</p>

<h2 id="lightning_talk">ライトニングトーク(A, B会場)</h2>

<p>
  今年もイベントの最後に恒例のライトニングトークを開催します。
</p>

<h3 id="lt_title">発表者/発表タイトル一覧</h3>

<dl>
  <dt>野中哲(<a href="https://twitter.com/anonaka">@anonaka</a>)</dt>
  <dd>みんなのはなもげら</dd>
  <dt>muddydixon(<a href="https://twitter.com/muddydixon">@muddydixon</a>)</dt>
  <dd>JavaScriptで行う時系列解析</dd>
  <dt>久井 亨(<a href="https://twitter.com/torus">@torus</a>)</dt>
  <dd>Lua 組み込みプログラミング</dd>
  <dt>筒井隆次(<a href="https://twitter.com/ryu22e">@ryu22e</a>)</dt>
  <dd>5分で絶対に分かるPyCon APAC 2013 in Japan</dd>
  <dt>龍池哲也</dt>
  <dd>LLから無線通信で電子工作</dd>
  <dt>Kenjiro Kosaka(<a href="https://twitter.com/inoshiro">@inoshiro</a>)</dt>
  <dd>軽量のススメ</dd>
  <dt>Masayuki Yashiro</dt>
  <dd>Pythonで機械制御</dd>
</dl>
